<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.metrix.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_metrix"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_metrix_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WebViewActivity" />

        <meta-data
            android:name="ir.metrix.APPLICATION_ID"
            android:value="zcmwmxbkmuodelu" />
        <meta-data
            android:name="ir.metrix.API_KEY"
            android:value="a15f782d-0d20-4159-9c5e-23f246e857e6" />
        <meta-data
            android:name="ir.metrix.SIGNATURE"
            android:value="pmHhXFAuXDRYPZO6AQegjJ5khzTyLpP1MLO4AZacNSKpOxzsHk8lEhuxCTdeZHGfKCx1JIJerjFgAwQ6VGy0UDrpKfJnMAurnS5sboGfUuWuWRHkIBm2Cd0=" />
        <meta-data
            android:name="metrix_storeName"
            android:value="GooglePlay" />
    </application>
</manifest>